@font-face {
  font-family: myriad;
  src: url("../fonts/MyriadPro-Regular.otf"); }
@font-face {
  font-family: merriweather;
  src: url("../fonts/Merriweather-Regular.ttf");
  font-style: normal; }
@font-face {
  font-family: merriweather;
  src: url("../fonts/Merriweather-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal; }
.anime {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: block; }

.anime-azul-claro {
  background-color: #0199d0; }

.anime-azul-escuro {
  background-color: #2d2c6b; }

.anime-laranja {
  background-color: #a54600; }

.anime-transparente {
  display: none; }

html {
  color: #ffffff;
  background-color: #0199d0; }

p {
  font-size: 12pt; }
  @media (max-width: 910px) {
    p {
      font-size: 10pt; } }

.divisoria-top {
  margin-top: -5px; }

.divisoria-bot {
  margin-bottom: -10px; }

header {
  background: url("../images/background-header-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 4px #000000; }
  header i {
    text-shadow: 0px 0px 0px #000000; }
  header li {
    text-transform: uppercase; }
  header h1 {
    font-family: "myriad", sans-serif;
    font-size: 50pt;
    text-transform: uppercase; }
    @media (max-width: 910px) {
      header h1 {
        font-size: 26pt; } }
  header h2 {
    font-family: "Roboto", sans-serif;
    font-size: 17pt;
    margin-bottom: 0; }
    @media (max-width: 910px) {
      header h2 {
        font-size: 14pt; } }
  header .logo-header {
    height: 80px;
    margin: 10px auto;
    transition: 0.5s; }
    @media (max-width: 1200px) {
      header .logo-header {
        height: 50px;
        margin: 3px auto; } }
    header .logo-header img {
      height: 100%;
      -webkit-filter: drop-shadow(2px 2px 4px #000000);
      filter: drop-shadow(2px 2px 4px #000000); }
  header .efeito-header {
    margin-bottom: -10px; }
    @media (min-width: 911px) {
      header .efeito-header {
        margin-left: -2px; } }
  header .conteudo-header {
    margin-top: 200px;
    padding-bottom: 30px; }
    @media (max-width: 910px) {
      header .conteudo-header {
        margin-top: 50px; } }
    @media (min-width: 911px) {
      header .conteudo-header {
        margin-bottom: 30px;
        padding-bottom: 0px; } }
  header .menu-dropdown {
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transition: 1s; }
    header .menu-dropdown li {
      width: 100%; }
  header .menu-dropdown-ativo {
    opacity: 1;
    transform: scaleY(1); }

#costa-descobrimento {
  background-color: #0199d0; }
  #costa-descobrimento .background-costa-descobrimento {
    background: url("../images/background-costa-descobrimento.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
    @media (min-width: 911px) {
      #costa-descobrimento .background-costa-descobrimento {
        padding: 70px 0 100px 0; } }
  #costa-descobrimento h2 {
    font-family: "myriad", sans-serif;
    font-size: 36pt;
    text-transform: uppercase; }
    @media (max-width: 910px) {
      #costa-descobrimento h2 {
        font-size: 26pt; } }
  #costa-descobrimento h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16pt; }
    @media (max-width: 910px) {
      #costa-descobrimento h3 {
        font-size: 14pt; } }
    @media (max-width: 1100px) {
      #costa-descobrimento h3 {
        margin: 0; } }
  #costa-descobrimento .aside-slider h2 {
    margin-top: 20px;
    font-family: "montserrat", sans-serif;
    font-size: 20pt; }
    @media (max-width: 910px) {
      #costa-descobrimento .aside-slider h2 {
        font-size: 16pt;
        margin-bottom: 0; } }

.conheca-verbena {
  font-family: "myriad", sans-serif;
  background-color: #2d2c6b; }
  .conheca-verbena h2 {
    font-size: 16pt; }
    @media (min-width: 911px) {
      .conheca-verbena h2 {
        margin-left: 10px;
        margin-bottom: 55px;
        font-size: 24pt; } }
  .conheca-verbena .quote {
    font-family: "merriweather", sans-serif;
    font-style: italic;
    margin-bottom: 17px;
    font-size: 12pt; }
    @media (min-width: 911px) {
      .conheca-verbena .quote {
        font-size: 14pt; } }
  .conheca-verbena .background-conheca-verbena {
    background: url("../images/background-conheca-verbena.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
  @media (min-width: 911px) {
    .conheca-verbena .container {
      padding: 100px 0 50px 0; } }
  .conheca-verbena .logo-conheca-verbena {
    width: 217px;
    height: 80px; }
    @media (min-width: 911px) {
      .conheca-verbena .logo-conheca-verbena {
        width: 385px;
        height: 143px;
        margin-bottom: 8px; } }
  .conheca-verbena .logos-conheca-verbena {
    margin: 0 10px;
    height: 120px; }
    @media (min-width: 1100px) {
      .conheca-verbena .logos-conheca-verbena {
        margin: 50px 0; } }

#empreendimentos {
  background-color: #a54600; }
  #empreendimentos h2 {
    font-family: "myriad", sans-serif;
    text-transform: uppercase;
    font-size: 45pt; }
    @media (max-width: 1400px) {
      #empreendimentos h2 {
        font-size: 40pt; } }
    @media (max-width: 1300px) {
      #empreendimentos h2 {
        font-size: 35pt; } }
    @media (max-width: 1200px) {
      #empreendimentos h2 {
        font-size: 30pt; } }
    @media (max-width: 910px) {
      #empreendimentos h2 {
        font-size: 20pt;
        margin-bottom: 0; } }
  @media (max-width: 910px) {
    #empreendimentos .header-emprendimentos {
      margin-bottom: 0; } }
  #empreendimentos h3 {
    font-size: 26pt; }
    @media (max-width: 910px) {
      #empreendimentos h3 {
        font-size: 18pt;
        margin-top: 0; } }
  #empreendimentos .efeito-footer {
    margin-bottom: -10px;
    margin-left: -1px; }
  @media (max-width: 910px) {
    #empreendimentos {
      padding-bottom: 30px; } }
  #empreendimentos .slider-empreendimentos {
    display: flex;
    align-items: center;
    max-height: 140px;
    margin: 0; }
  #empreendimentos .fa {
    font-size: 50pt;
    color: #E9C37A; }
  #empreendimentos .div-slide {
    margin-top: 10px;
    height: 140px; }
    @media (min-width: 911px) {
      #empreendimentos .div-slide {
        margin-top: 10px;
        height: 140px; } }
    @media (min-width: 1200px) {
      #empreendimentos .div-slide {
        margin-top: 10px;
        height: 150px; } }
    @media (min-width: 1300px) {
      #empreendimentos .div-slide {
        margin-top: 25px;
        height: 170px; } }
    @media (min-width: 1400px) {
      #empreendimentos .div-slide {
        margin-top: 40px;
        height: 180px; } }
  #empreendimentos .logos-empreendimentos {
    height: 100%;
    margin: auto; }
  #empreendimentos .localizacao {
    width: 100%; }
  @media (min-width: 911px) {
    #empreendimentos .container {
      padding: 50px 0 50px 0; } }
  #empreendimentos .tabs {
    display: flex; }
  #empreendimentos .tab {
    border-top: 2px solid #fff;
    margin: 0 5px; }
    #empreendimentos .tab a {
      padding: 0;
      font-family: "Segoe UI", sans-serif;
      font-size: 16pt; }
      @media (max-width: 910px) {
        #empreendimentos .tab a {
          font-size: 10pt; } }
  @media (max-width: 600px) {
    #empreendimentos .tab-empreendimento {
      width: 35%; } }
  #empreendimentos .tab-3 {
    width: 33.3333333333%; }
  #empreendimentos .tab-2 {
    width: 50%; }
  #empreendimentos .slide {
    max-width: 900px;
    margin: auto; }
    #empreendimentos .slide .col {
      height: auto; }

#contato {
  background-color: #11161d;
  padding-bottom: 20px; }
  @media (min-width: 911px) {
    #contato {
      padding: 85px 0; } }
  #contato input, #contato textarea {
    color: #212121;
    line-height: normal;
    width: 100%;
    height: 3rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14pt;
    padding: 20px; }
  #contato textarea {
    height: 9rem;
    resize: none; }
  #contato .logo-footer {
    width: 217px;
    height: 80px; }
    @media (min-width: 911px) {
      #contato .logo-footer {
        width: 385px;
        height: 143px; } }
  #contato p {
    font-size: 12pt; }
    @media (min-width: 911px) {
      #contato p {
        font-size: 13pt; } }
    #contato p b {
      font-size: 12pt; }
      @media (min-width: 911px) {
        #contato p b {
          font-size: 18pt; } }
  #contato .icone {
    width: 40px;
    height: 40px;
    background-color: #d1232a;
    border-radius: 100%; }
  #contato .redes-sociais li {
    display: inline-block;
    padding: 8px;
    line-height: 47px; }
    #contato .redes-sociais li i {
      font-size: 24px;
      color: #ffffff; }
  #contato .redes-sociais h4 {
    font-size: 35pt;
    margin-left: 2px; }
  #contato .enviar {
    height: 50px;
    width: 150px;
    background-color: #ffffff;
    color: #697b83;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14pt;
    padding-left: 34px;
    margin-bottom: 50px; }
    #contato .enviar:hover {
      background-color: #d2d2d2; }
    #contato .enviar:active {
      background-color: #ababab; }
    #contato .enviar i {
      color: #d1232a;
      font-size: 30px; }

.carousel.carousel-slider {
  height: 380px; }
